.account {
  margin-bottom: var(--block-padding);
}

.params {
  margin-top: var(--base);
}

.purchases {
  list-style: none;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--base);
}

.ordersButton {
  margin-top: 10px;
}

.purchase {
  >* {
    margin: 0;
  }
}

.noPurchases {
  padding-top: 10px;
  font-weight: 600;
}